* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

:root {
  --primaryColor: #77b307;
}
/* linear-gradient(to left,rgba(246, 209, 49, 0.38) 0%,rgba(119, 179, 7, 0.38) 100%) #77b307 */
body {
  background-color: rgba(248, 231, 28, 0.58);
}

.container {
  width: 76%;
  margin: 0 auto;
}

.nav-container {
  width: 100%;
  background: linear-gradient(
      to right,
      rgba(246, 209, 49, 0.38) 0%,
      rgba(119, 179, 7, 0.38) 100%
    )
    #77b307;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar > a {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 40px;
  color: var(--primaryColor);
  background: white;
  border: 3px solid #e88c30;
  border-radius: 55px;
  padding: 5px 15px;
  margin: 10px 0;
}

.list {
  display: flex;
  gap: 50px;
}

.nav-link {
  color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.hero-content {
  width: 650px;
}

.hero-title {
  font-size: 86px;
  color: #e88c30;
}

.hero-text {
  font-size: 30px;
  margin: 20px 0;
  padding-bottom: 20px;
  color: black;
}

.hero-btn {
  width: 200px;
  font-size: 30px;
  color: #e88c30;
  border: 2px solid #e88c30;
  padding: 15px 30px;
  border-radius: 55px;
  transition: all 0.4s ease-in-out;
}

.hero-btn:hover {
  border-color: white;
  color: white;
  background: #77b307;
}

.hero-img {
  width: 600px;
  height: 420px;
  object-fit: cover;
  object-position: center;
  border-radius: 35px;
}


.main-title{
   margin-top: 100px;
   font-size: 76px;
   color: #e88c30;
   text-align: center;
}

.main-text{
   width: 70%;
   margin: 50px auto;
   text-align: center;
   font-size: 40px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.card {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  border: 2px solid #77b307;
  border-radius: 25px;
}

.card-title{
   text-align: center;
   color: #e88c30;
}

.offer-list{
   display: flex;
   justify-content: space-around;
   gap: 50px;
   flex-wrap: wrap;
}

.offer-list-item{
   width: 450px;
}

.offer-list-item>h3{
   text-align: center;
}

.offer-list-item>img{
   width: 450px;
   object-fit: cover;
   object-position: center;
   border-radius: 10px;
}


